# Compiled class file
*.class
bin/

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE files
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
*.prefs

# Debugging files
test.classy
test.exe.ll
test.exe
